.dashboard-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 50px;
}
.dashboard-collection-area{
    background-color: #d0ffefa8;
    margin: 20px 40px;
    padding: 30px;
}
.collection-area-title{
    text-align: center;
}
.collection-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 30px 50px;
    
}
.lucky-area-title{
    text-align: center;
}
.lucky-area{
    background-color: #d5ffd5;
    padding: 0px;
    margin: 20px 0px;

}
.lucky-component{
    padding: 20px;
}
.luck-area-btn{
    text-align: center;
}
.lucky-btn{
    width: 50%;
    border-radius: 10px;
    height: 45px;
    background-color: #56f3b7;
    border: 3px solid red;
    border: none;
    font-size: 150%;
    margin-bottom: 10px;
}
.reset-btn{
    width: 50%;
    border-radius: 10px;
    height: 45px;
    background-color: #f35656;
    border: none;
    font-size: 150%;
}


/* responsive */
@media screen and (max-width: 600px) {

    .dashboard-container{
        /* display: block; */
        /* grid-row: inherit; */
        /* grid-template-rows: 1fr, 1fr; */
        
    /* display: grid; */
    /* grid-template-columns: 2fr 2fr; */
    /* margin-top: 50px; */
    }

    .collection-area{
        grid-template-columns: repeat(2, 1fr);
    }
}